.pop-up {
    position: absolute;
    background-color: rgba(0, 0, 0, .5);
    width: 106%;
    height: 82%;
    display: none;
    z-index: 1;
    position: fixed;
    top: 0;
    left: 0;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}