.info__naming {
    display: flex;
    width: 100%;
    justify-content: center;
}

@media screen and (max-width: 420px) {
    .info__naming {
        width: 111%;
        align-items: center;
    }
}


