.profile__avatar {
    display: flex;
    border-radius: 50%;
    aspect-ratio: 1/1;
    object-fit: cover;
}

@media screen and (max-width: 1050px) {
    .profile__avatar {
        margin: 0 0 26px 0;
    }
}