.profile-top__info {
    max-height: 120px;
    max-width: 440px;
    display: flex;
    align-items: center;
}


@media screen and (max-width: 420px) {
    .profile-top__info {
        max-width: 282px;
    }
}


